.login-container {
  font-size: 16px;
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 80px;
  text-align: right;
  margin-right: 30px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 40%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

button[type="submit"] {
  background-color: #f36d6d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 10px;
}

.form-footer a {
  color: #007bff;
  text-decoration: none;
}

.form-footer button {
  background-color: #f36d6d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

