<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>ホームページ</title>
</head>
<body>

<form method="GET" action="/post">
  <input type="submit" value="投稿する">
</form>

<form method="GET" action="/mypage">
  <input type="submit" value="マイページ">
</form>

<h1>メッセージ一覧</h1>

<ul>
  {% for post in posts %}
    <li>
      {{ post[0] }}: {{ post[1] }}
      <form method="POST" action="/like" style="display:inline;">
        <input type="hidden" name="post_id" value="{{ post[2] }}">
        <button type="submit">
          {% if post[2] in like_post_ids %}
            <span style="color:red;">❤️</span>  
          {% else %}
            <span style="color:gray;">🤍</span> 
          {% endif %}
        </button>
      </form>
    </li>
  {% endfor %}
</ul>

</body>
</html>
